
.mejs-overlay-button {display:none;}

.black-bg {
   background-color: #222222;
}

.white-text {
   color: #eeeeee;
}
.fill-parent {
	position:relative;
	width:100%;
	height:100%;

}
.fill-parent-width {
	position:relative;
	width:100%;

}

.text-label {
	text-align: center;
}

.dummy {
   display: none;
}
.compact{
   display:inline-block;
}

.hotkey.button {
   white-space: normal;
   height: 70px;
}
.hotkey.title {
   white-space: normal;
   height:24px;
   font-size:20px;
   padding-top:5px;
}
.hotkey.shortcut {
   color: #888888;
   font-size:12px;
   height:15px;
}
.icon.small {
   width: 16px;
   height:16px;
}
.icon.small-medium {
   width: 24px;
   height:24px;
}
.icon.med {
   width: 32px;
   height:32px;
}

