.fill-parent {
	position:relative;
	width:100%;
	height:100%;

}
.fill-parent-width {
	position:relative;
	width:100%;

}

.text-label {
	text-align: center;
}

/*
chunk specific rules
*/
.chunk #video-container{
	height: 400px;
}

/*
scribe specific rules
*/

.scribe #video-container{
   height: 200px;
}

.hotkey.button {
   white-space: normal;
   height: 52px;
}
.hotkey.title {
   white-space: normal;
   height:20px;
}
.hotkey.shortcut {
   color: #888888;
   font-size:8px;
   height:10px;
}