.black-bg {
   background-color: #222222;
}

.fill-parent {
	position:relative;
	width:100%;
	height:100%;

}
.fill-parent-width {
	position:relative;
	width:100%;

}

.text-label {
	text-align: center;
}

.dummy {
   display: none;
}
/*
chunk specific rules
*/
.segment #video-container{
	height: 400px;
}
.segment #dev{
   margin-top: 50px;
}
.segment #segmentbar{
   margin-top: 2px;
   margin-bottom:15px;
}
/*
scribe specific rules
*/

.scribe #video-container{
   height: 200px;
}

.hotkey.button {
   white-space: normal;
   height: 52px;
}
.hotkey.title {
   white-space: normal;
   height:20px;
}
.hotkey.shortcut {
   color: #888888;
   font-size:8px;
   height:10px;
}
