.segment_box {
    border: 1px solid #000;
    text-align: left;
    width: 100%;
    margin: 0px 0px 10px 0px;
    padding: 0px;
}

.preedit_box {
    margin: 10px 10px 0px 10px;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px dashed #00F;
}

.postedit_box {
    margin: 10px;
    padding: 0px;
}
