.segment_box {
    text-align: left;
    width: 100%;
    margin: 0px 0px 10px 0px;
    padding: 0px;
}

.floating_pane {
    position: fixed;
}

.active_box {
    border: 1px solid #000;
    background-color: #FFFFCC;
}

.inactive_box {
    border: 1px dotted #444;
    background-color: #FFFFFF;
}

.preedit_box {
    margin: 10px 10px 0px 10px;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px dashed #00F;
    font-size: 16px;
}

.postedit_box {
    margin: 10px;
    padding: 0px;
    font-size: 16px;
}

textarea {
    width: 100%;
    font-size: 16px;
}

