.nav-button {
    /*background-color: #3F51B5;*/
    /*color: #FFF;*/
    background-color:white;
    color:#444;
    font-weight: bold;
}

.nav-button .shortcut {
    /*color: #CCC;*/
    color: #999;
}

.nav-button:hover {
    color: orange;
}

.nav-button:hover div {
    color: orange;
}

.inactive_btn {
    background-color: #999;
}

.inactive_btn .shortcut {
    color: #444;
}
