.nav-button {
    background-color: #3F51B5;
    color: #FFF;
    font-weight: bold;
}

.nav-button .shortcut {
    color: #CCC;
}

.nav-button:hover {
    background-color: orange;
}

.nav-button:hover div {
    color: #FFF;
}
