/*
scribe specific rules
*/

.jump-button{
   font-size:12px;
   text-align:center;
   padding:0.1em;
   color:#888888;
   border-radius:7px;
   border-style:solid;
   border-color:#888888;
   border-width:1px;
   margin-bottom:10px;
}
.jump-button:hover{
   border-style:solid;
   border-color:orange;
   color:orange;
}

.container {
  max-width: 1400px;
}

.video-container {
   height: 190px;
}

.seg_display{
   text-align:left;
   font-size:16px;
   margin-left:10px;
   text-decoration:underline;
   height:20px;
}

.display {
   border: 1px dotted #444;
   background-color: #FFFFFF;
   height: 80px;
   font-size:20px;
   text-align:middle;
   width: 100%;
   padding: 10px 21px 10px 10px;
   margin: 5px 0px 5px 0px;
   overflow: hidden;
}

.nav {
   height:80px;
   width:160px;
   margin-bottom:15px;
   font-size:22px;
   border-width:3px;
   border-style:solid;
   border-radius:10px;
}

#current_pane {
   height:160px;
   margin-top:30px;
}

#segmentbar {
   margin-top:5px;
   margin-bottom:20px;
}

#mainButton {
   height:160px;
   font-size:50px;
   margin-top:30px;
   margin-bottom:45px;
   background-color: white;
   border-color: #807115;
   border-width:3px;
   border-style:solid;
   border-radius:10px;
}

#curText{
   margin-top: 20px;
}

.entry {
   resize:none;
   text-align:center;
   height:190px;
   font-size: 32px;
   line-height: 1.5;
   font-weight: 500;
   font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
   margin: 5px 0px 35px 0px;
   border-width:5px;
}

/*.scribe .hotkey.title {
   color: #333333;
   padding-top:10px;
   font-size:45px;
}
.scribe .hotkey.shortcut {
   color: #666666;
   font-size:28px;
   padding-top: 17px;
}

.scribe.container.prev {
   background-color: #D4876A;
   border-color: #803215;
}

.scribe.container.next {
   background-color: #64B058;
   border-color: #1E6912;
}

.scribe.replay {
   background-color: #D4C66A;
   border-color: #807115;
}

.scribe.entry {
   border-radius:12px;
   height:190px;
   margin-bottom:31px;
   visibility: hidden;
}

.scribe.entry.label {
   font-size:36px;
   text-align:left;
   border-width:2px;
   border-style:solid;
   vertical-align: middle;
}

.entry {
   resize:none;
   border:none;
   text-align:center;
   height:190px;
   font-size: 32px;
   line-height: 1.6;
   font-weight: 500;
   font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
   color: #222
}

.scribe.entry.text {
   font-size:28px;
   padding-left:32px;
   padding-right:32px;
   border: 2px solid #777777;
}

.scribe.entry.label .container {
   padding-top: 50px;
}
*/