/*
scribe specific rules
*/

.scribe#video-container{
   height: 200px;
}

.scribe.hotkey.button {
   white-space: normal;
   height: 125px;
}
.scribe .hotkey.title {
   color: #333333;
   padding-top:10px;
   font-size:50px;
   padding-bottom:15px;
}
.scribe .hotkey.shortcut {
   color: #666666;
   font-size:30px;
   padding-top: 22px;
}

.scribe.prev {
   background-color: #D4876A;
}

.scribe.next {
   background-color: #64B058;
}

.scribe.replay {
   background-color: #D4C66A;
}

.scribe.label {
   font-size:24px;
   line-height:28px;
   text-align: left;
   height:200px;
   outline:2px solid #0000FF;
   padding-bottom: 5px;
}

.textDisplay {
   height:200px;
   text-align: center;
}

.textEntry {
   resize:none;
}