.view {
}
.no-click{
   pointer-events: none;
}

#title {
   font-size:32px;
   font-style:sans-serif;
   font-weight:bold;
   text-align:left;
   padding-left:1em;
}
#prompt,#content {
   font-size:18px;
   font-style:sans-serif;
}
#prompt{
}
#content{
}
#main{
   text-align:center;
   height:90%;

}
#command{
   position:relative;
   bottom:0;
   height:3em;
}
.command {
   background-color:lightyellow;
}
.success {
   background-color:lightgreen;
}
#view {
    width: 70%;
    margin: 0 auto;
}

#hint {
  font-size:14;
}
.button-enabled{
   background-color:lightblue;
}
.button-disabled {
   background-color:#eeeeee;
}
.button-disabled:hover{
   border-color:orange;
   border-width:0px;
   border-style:none;
}
.button-enabled:hover{
   border-color:orange;
   border-width:2px;
   border-style:solid;
}
.fill-height{
    height:100%;
}

#video-container{
   height:400px;
}