/*
chunk specific rules
*/
.segment #video-container{
   height: 400px;
}

.scribe #video-container{
   height: 200px;
}
.segment #dev{
   margin-top: 50px;
}
.segment #segmentbar{
   margin-top: 2px;
   margin-bottom:px;
}

.scribe #segmentbar{
   margin-top: 2px;
   margin-bottom: 55px;
}

.segment.hotkey.button {
   white-space: normal;
   height: 50px;
}
.segment.hotkey.title {
   height:20px;
   font-size:18px;
   padding-top:3px;
}
.segment.hotkey.shortcut {
   font-size:12px;
   height:14px;
}

.segment.compact.hotkey.button {
   white-space: normal;
   height: 32px;
}
.segment.compact.hotkey.title {
   display:none;
}
.segment.compact.hotkey.shortcut {
   display:none;
}

.left {
   float:left;
   margin:4px;
}

.right {
   float:right;
   margin:4px;
}
.divider{
   width: 8px;
   height: 16px;
}
#hint {
   margin-bottom:4px;
   height: 35px;
   padding:4px;
}
#compact-controls{
   background-color:#444444;
   margin-bottom:25px;
   padding: 2px;
}
.dark-bg {
   background-color: #666666;
}

#nav-controls{
   margin-right: 5px;
   margin-left: 5px;
}
#edit-controls{

}

.hint.icon{
   width:16px;
   height:16px;
   margin-left:5px;
   margin-right:5px;
}
.hint.title{
   font-size:12pt;
   font-weight:bold;
   color:#ecf0f1;
}
.hint.text{
   font-size:12pt;
   color:#bdc3c7;
}
.hint.but{
   display:inline-block;
   background-color:#3498db;
   border-color:#2980b9;
   border-style:solid;
   border-width:2px;
   color:#ecf0f1;
   padding:2px;
   padding-left:4px;
   padding-right:4px;
   margin-left:5px;
   margin-right:5px;
   font-size: 11pt;
   font-style:‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
   font-variant: small-caps;
   border-radius:10px;
}
.hint.key{
   display:inline-block;
   background-color:#ecf0f1;
   border-color:#7f8c8d;
   border-style:solid;
   border-width:2px;
   color:#2c3e50;
   padding:2px;
   margin-left:5px;
   margin-right:5px;
   padding-left:4px;
   padding-right:4px;
   font-size: 11pt;
   font-style:‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
   font-variant: small-caps;
   border-radius:2px;
}

.overlay {
   left:10%;
   top:20%;
   width: 80%;
   position: absolute;
   border-radius:5px;
   border-color:#7f8c8d;
   border-style:solid;
   border-width:2px;
   z-index:1000;
   background-color:white;
   padding:10px;
   height: 20em;
}
.demo-highlight{
   border-radius:5px;
   border-color:#eeee55;
   background-color:rgba(200,200,100,0.3);
   border-style:solid;
}

#start_demo{
   background-color:#e74c3c;
   color:#ecf0f1;
}
