.view {
}
.container{
  min-width:400px;
}
.no-click{
   pointer-events: none;
}
.bubble {
  border-radius:1em;
  background-color:#f1c40f;
  color:#444444;
  padding-left:0.3em;
  padding-right:0.3em;
  font-size:14;
}
.bubble.success{
  background-color:lightgreen;
}

body{
  background-color:#41A1E1;;
}
#title {
   font-family: 'lato' sans-serif;
   font-size:42px;
   font-weight:bold;
   text-align:left;
   padding-left:1em;
   margin-top:0.2em;
   margin-bottom:0.3em;
   color:white;
}
.prev-next-div {
  margin-left:1em;
  margin-right:1em;
}
#prompt,#content {
   font-size:18px;
   font-style:sans-serif;
   font-family: 'lato' sans-serif;
   color:white;
}
#prompt{
  color:black;
  background-color:white;
  padding-top:0.5em;
  padding-bottom:0.5em;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}
#content{
  margin-top:1em;
}
#main{
   text-align:center;
   height:80%;
   margin-left:1em;
   margin-right:1em;

}
#command{
  padding-bottom:0.2em;
  padding-top:0.2em;
  font-size:20;
  color:white;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
}
#future_choices {
  padding-top:1em;
  padding-bottom:1em;
  background-color:white;
  border-radius:10px;}
.command {
  background-color:#e74c3c;
}

.success {
   background-color:#27ae60;
}
#skip {
  background-color:white;
}
#stop {
  background-color:white;
}
#view {
    width: 70%;
    margin: 0 auto;
    background-color:white;
    padding:3em;
    padding-bottom:0em;
    border-radius:10px;
    color:black;
}

#hint {
  font-size:14;
}


.fill-height{
    height:100%;
}

#video-container{
   height:400px;
}