/*
chunk specific rules
*/
.segment #video-container{
   height: 400px;
}
.segment #dev{
   margin-top: 50px;
}
.segment #segmentbar{
   margin-top: 2px;
   margin-bottom:15px;
}

.segment .hotkey.title {
   height:20px;
   font-size:18px;
   padding-top:3px;
}
.segment .hotkey.shortcut {
   font-size:12px;
   height:14px;
}
